.card {
    position: relative;
    float: left;
    background-color: #19222f;
    margin: 2.5%;
    margin-bottom: 2.5%;
    -webkit-box-shadow: 0px 0px 21px -7px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 21px -7px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 21px -7px rgba(0, 0, 0, 1);
    border-radius: 6px;
    color: #45a789;
}

.card label {
    position: absolute;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    top: -10px;
    border-radius: 6px;
    -webkit-box-shadow: 0px 0px 21px -7px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 21px -7px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 21px -7px rgba(0, 0, 0, 1);
    background-color: #45a789;
    text-align: center;
    color: white;
}

.card div {
    position: relative;
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    height: 90%;
    display: flex;
    align-content: space-between;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 250%;
}

.card div .single-info {
    width: auto;
    height: auto;
    font-size: 100%;
}


.card div .search-list-input {
    width: 100%;
    height: 40px;
    background-color: #131b25;
    border: 0px;
    border-radius: 7px;
    outline: none;
    padding-left: 20px;
    font-size: 15px;
    color: #45a789;
}

.card div table {
    width: 100%;
    font-size: 20px;
    border-radius: 6px;
    border-collapse: collapse;
    display: table;
    margin-top: -1%;
    font-family: 'Roboto', sans-serif;
}

.card div table i {
    cursor: pointer;
    color: #45a789;
    font-size: 135%;
    transition: 0.3s;
}

.card div table i:hover {
    color: #ffffff;
}


.card div table tr .first {
    width: 10%;
    text-align: center;
}

.card div table tr .more {
    width: 10%;
    text-align: center;
}

.card div table tr .img {
    position: relative;
    width: 80%;
    border-radius: 50%;
}

.card div table tr td {
    font-size: 85%;
    padding: 1%;
    color: white;
    text-align: left;
    font-family: 'Roboto', sans-serif;
}

.card div table tr th {
    font-size: 85%;
    padding: 1%;
    color: #55b99b;
    /* background-color: #45a78a73; */
    text-align: left;
    font-family: 'Roboto', sans-serif;
}

.card div table tr th .first {
    border-top-left-radius: 6px;
}

.card div table tr th .more {
    border-top-right-radius: 6px;
}

.more-bottom-line {
    text-decoration: underline;
}

/* .card div table tr th .first-row:hover {
    background-color: red !important;
} */

.first-row {
    background-color: #131a24d2 !important;
}



.card div table tr:nth-child(odd) {
    background-color: #131a24d2;
    transition: 0.3s;
}

.card div table tr:nth-child(even):hover {
    background-color: #192e2fc0;
}

.card div table tr:nth-child(odd) {
    /* background-color: #19222f; */
    transition: 0.3s;
}


.card div table tr:nth-child(odd):hover {
    background-color: #192e2fc0;
}

.card div i {
    margin-right: 4%;
    font-size: 90%;
}

.card div .chartjs-size-monitor {
    margin: 0 !important;
}

.card-single {
    width: 28.3333333%;
    height: 28.5%;
}

.card-double {
    width: 61.6666666%;
    height: 64.5%;
}

.card-single-double {
    width: 28.3333333%;
    height: 64.5%;
}


.card-single-double div {
    margin-top: 10% !important;
    margin-bottom: 0% !important;
}


.card-full {
    width: 95%;
    height: auto;
    min-height: 28.666666%;
}

.card-single label {
    height: 26px;
    padding-top: 4px;
}

.card-double label {
    height: 27px;
    padding-top: 5px;
}

.card-single-double label {
    height: 27px;
    padding-top: 5px;
}

.card-full label {
    height: 29px;
    padding-top: 5px;
}

.card-purple label {
    /* background-color: #283241; */
    background-color: #7845a7;
}


.card-blue label {
    /* background-color: #283241; */
    background-color: #414db6;
}

.card-red label {
    /* background-color: #283241; */
    background-color: #b3205d;
}

.card-pink label {
    background-color: rgb(255, 99, 132);
}

.card-pink div {

    color: rgb(255, 99, 132);
}

.card-purple div {
    /* background-color: #283241; */
    color: #7845a7;
}

.card-blue div {
    /* background-color: #283241; */
    color: #414db6;
}

.card-red div {
    /* background-color: #283241; */
    color: #b3205d;
}