.navbar-main-div {
    position: fixed;
    margin-left: 19%;
    width: 81%;
    height: 8.52%;
    background-color: #19222f;
    -webkit-box-shadow: 0px 0px 21px -7px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 21px -7px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 21px -7px rgba(0, 0, 0, 1);
    z-index: 9;
}

.off-icon {
    position: relative;
    float: right;
    color: #45a789;
    font-size: 25px;
    margin-top: 25px;
    margin-right: 20px;
    transition: 0.3s;
    cursor: pointer;
    z-index: 500;
}

.off-icon:hover {
    color: #204137;
    z-index: 500;

}

.off-icon-dropdown-div {
    position: absolute;
    width: 190px;
    height: auto;
    top: 55px;
    right: 20px;
    background-color: #19222f;
    border: 1px solid #141920;
    border-radius: 10px;
    z-index: 500;
    display: none;
    -webkit-box-shadow: 0px 0px 21px -7px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 21px -7px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 21px -7px rgba(0, 0, 0, 1);
}

.off-icon-dropdown-div-accounts {
    position: relative;
    text-align: center;
    margin: 5px;
    padding: 5px;

}

.off-icon-dropdown-div-footer {
    position: relative;
    height: 1px;
    width: 100%;
    top: 90%;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: black;
}

.off-icon-dropdown-div-sign {
    display: flex;
    flex-direction: row;
}

.off-icon-dropdown-div a {
    width: 50%;
    height: 20px;
    margin: 0px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.off-icon-dropdown-div a button {
    position: relative;
    color: #45a789;
    border-color: transparent;
    background-color: transparent;
    width: 100%;
    height: 100%;
    cursor: pointer;
    outline: none;
    transition: 0.3s;
    font-size: 12px;


}


.off-icon-dropdown-div a button:hover {
    position: relative;
    color: #2a5f4f;
    border-color: transparent;
    background-color: transparent;
    width: 100%;
    height: 100%;
    cursor: pointer;
    outline: none;
}

.off-icon-dropdown-div-cover {
    background-color: rgba(0, 0, 0, 0.233);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 499;
    transition: 0.3s;
}



.navbar-search-div {
    position: absolute;
    width: 50%;
    height: 100%;
    margin: 0px;
}

.navbar-search-div input {
    position: relative;
    width: 60%;
    height: 55%;
    border-radius: 10px;
    background-color: #141920;
    border: 0px;
    outline: none;
    margin-left: 5%;
    margin-top: 12px;
    padding: 4px;
    padding-left: 20px;
    color: #45a789;
    font-size: 15px;
    margin-right: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    float: left;
    transition: 0.3s;
}

.navbar-search-div div {
    height: 55%;
    width: 40px;
    margin-top: 12px;
    padding: 4px;
    background-color: #141920;
    float: left;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.navbar-search-div div button {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #141920;
    border: 0px;
    outline: none;
    transition: 0.3s;
    cursor: pointer;
}

.navbar-search-div div button:hover {
    background-color: #1f2731;
}

.search-icon {
    color: #45a789;
    font-size: 20px;
    transition: 0.3s;
}