.navbar-main-div {
    position: absolute;
    margin-left: 19%;
    width: 81%;
    height: 70px;
    background-color: #19222f;
    -webkit-box-shadow: 0px 0px 21px -7px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 21px -7px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 21px -7px rgba(0, 0, 0, 1);
}

.off-icon {
    float: right;
    color: #45a789;
    font-size: 25px;
    margin-top: 25px;
    margin-right: 20px;
    transition: 0.3s;
    cursor: pointer;
}

.off-icon:hover {
    color: #204137;
}

.navbar-search-div {
    position: absolute;
    width: 50%;
    height: 100%;
    margin: 0px;
}



.navbar-search-div input {
    position: relative;
    width: 60%;
    height: 55%;
    border-radius: 10px;
    background-color: #141920;
    border: 0px;
    outline: none;
    margin-left: 5%;
    margin-top: 12px;
    padding: 4px;
    padding-left: 20px;
    color: #45a789;
    font-size: 15px;
    margin-right: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    float: left;
    transition: 0.3s;
}


.navbar-search-div div {
    height: 55%;
    width: 40px;
    margin-top: 12px;
    padding: 4px;
    background-color: #141920;
    float: left;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}


.navbar-search-div div button {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #141920;
    border: 0px;
    outline: none;
    transition: 0.3s;
    cursor: pointer;
}

.navbar-search-div div button:hover {
    background-color: #1f2731;
}

.search-icon {
    color: #45a789;
    font-size: 20px;
    transition: 0.3s;
}