.notification {
    position: absolute;
    margin-top: 20px;
    left: 20px;
    width: auto;
    height: 55px;
    text-align: center;
    display: inline-block;
    align-content: space-around;
    border-radius: 6px;
    -webkit-box-shadow: 0px 0px 21px -7px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 21px -7px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 21px -7px rgba(0, 0, 0, 1);
    transition: 0.3s;
}

.notification-danger {
    color: rgb(0, 0, 0);
    background-color: rgb(189, 42, 49);
}

.notification-normal {
    color: rgb(0, 0, 0);
    background-color: #45a789;
}

.notification-label {
    position: relative;
    height: 30px;
    padding-top: 5px;
    margin-top: 12.5px;
    margin-bottom: 12.5px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    width: auto;
    float: left;
    font-family: 'Roboto', sans-serif;
}

.notification-x {
    position: relative;
    width: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
    cursor: pointer;
    margin-right: 10px;
}


.notification-hide {
    transition: 0.3s;
    transform: translateX(-200%);
}