.main-sidebar {
    background-color: #19222f;
    width: 240px;
    height: 100%;
    left: 0px;
    margin: 0px;
    padding: 0px;
    -webkit-box-shadow: 0px 0px 21px -7px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 21px -7px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 21px -7px rgba(0, 0, 0, 1);
    position: absolute;
}

.line {
    background-color: #45a789;
    border-color: #45a789;
    width: 90%;
    height: 2px;
    margin: 0px;
    margin-left: 5%;
    margin-right: 5%;
    padding: 0px;
    margin-top: 5px;
    position: relative;
}

.company-name-logo {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;

}

.company-logo {
    position: relative;
    width: 55px;
    height: 55px;
    border-radius: 50px;
    border: 3px solid #45a789;
    margin: 5px;
    margin-top: 15px;
}

.company-info {
    position: relative;
    width: 220px;
    height: auto;
    margin-left: 0px;
    margin-top: 15px;


}

.company-name {
    position: relative;
    width: auto;
    height: auto;
    color: #45a789;
    text-align: left;
    font-size: 20px;
    margin: 5px;
}

.company-date {
    position: relative;
    width: auto;
    height: auto;
    color: #31423d;
    font-size: 15px;
    margin: 5px;
    margin-top: 8px;
}


.sidebar-menu-div {
    position: relative;
    width: 90%;
    height: auto;
    margin: 5%;
}


.sidebar-menu-div ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

.sidebar-menu-div ul li {
    width: 100%;
    height: 50px;
    margin: 0px;
    margin-top: 10px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    transition: 0.3s;
    border-radius: 6px;
}

.sidebar-menu-div ul li:hover {
    background-color: #192e2fc0;
}

.sidebar-menu-div ul li i {
    width: 30%;
    height: 50px;
    margin: 0px;
    padding: 0px;
    text-align: center;
    padding-top: 10px
}

.sidebar-menu-div ul li label {
    width: 70%;
    height: 50px;
    margin: 0px;
    padding: 0px;
    color: #45a789;
    padding-top: 15px;
    font-size: 15px;
    transition: 0.3s;
}

.icon {
    font-size: 25px;
    color: #45a789;
    transition: 0.3s;
}




.active {
    background-color: #2e6b59;
}


.active .icon {
    color: white !important;
}

.active label {
    color: white !important;
}