body {
    background-color: #131c27;
    font-family: 'Roboto', sans-serif;
}



.main-card {
    position: absolute;
    width: 40%;
    margin-top: 8%;
    right: 30%;
    left: 30%;
    height: auto;
    border-radius: 10px;
    background-color: #19222f;
    -webkit-box-shadow: 0px 0px 21px -7px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 21px -7px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 21px -7px rgba(0, 0, 0, 1);
    margin-bottom: 8%;
}

.switch-div {
    /* position: relative;
    width: 96%;
    height: auto;
    margin: 2%;
    margin-top: 5%;
    display: flex;
    flex-direction: row; */
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;

}

.switch-div div {
    /* width: 45%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    text-align: center;
    color: white;
    font-size: 40px;
    height: 75px;
    padding-top: 20px;
    transition: 0.3s; */
    width: 50%;
    text-align: center;
    color: white;
    font-size: 40px;
    height: 75px;
    padding-top: 20px;
    transition: 0.3s;
}

.switch-div div:hover {
    background-color: #45a789;
    cursor: pointer;
}

.switch-left {
    border-top-left-radius: 6px;
    /* border-bottom-left-radius: 6px; */

}

.switch-right {
    border-top-right-radius: 6px;
    /* border-bottom-right-radius: 6px; */

}

.active {
    background-color: #45a789 !important;

}


.field-div {
    position: relative;
    width: 80%;
    height: auto;
    padding: 5%;
    padding-left: 10%;
    padding-right: 10%;
}



.field-div label {
    position: relative;
    width: 100%;
    color: #45a789;
    font-size: 20px;
}

.field-div input {
    position: relative;
    width: 96%;
    height: 40px;
    background-color: transparent;
    border: 0px;
    border-bottom: 1px solid #45a789;
    outline: none;
    transition: 0.2s;
    color: white;
    font-size: 15px;
    font-family: 'Signika', sans-serif;
    margin-top: 15px;
    padding: 2%;
}

.field-div input:focus {
    border-bottom: 1px solid white;
    outline: none;
}

.field-div-row {
    position: relative;
    width: 80%;
    height: auto;
    padding: 5%;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: row;
}

.field-div-row-div {
    position: relative;
    width: 80%;
    height: auto;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

.field-div-row-div label {
    position: relative;
    width: 100%;
    color: #45a789;
    font-size: 20px;
}

.field-div-row-div input {
    position: relative;
    width: 96%;
    height: 40px;
    background-color: transparent;
    border: 0px;
    border-bottom: 1px solid #45a789;
    outline: none;
    transition: 0.2s;
    color: white;
    font-size: 15px;
    font-family: 'Signika', sans-serif;
    margin-top: 15px;
    padding: 2%;
}

.field-div-row-div input:focus {
    border-bottom: 1px solid white;
    outline: none;
}


.sign-btn {
    width: 80%;
    height: 50px;
    color: white;
    background-color: #45a789;
    margin: 5%;
    margin-left: 10%;
    margin-right: 10%;
    border: 0px;
    transition: 0.2s;
    border-radius: 6px;
}

.sign-btn:hover {
    background-color: #337a65;
}

.sign-btn:focus {
    outline: none;
    background-color: #337a65;
}